.item-break {
  margin: 5rem 0;
}
.item__button {
  align-self: center;
  margin: 3rem 0;
}

.form-submit {
  border: none;
  background: none;
}

.box {
  margin: 0.2rem;
  height: 100px;
  width: 100px;
  background: var(--dominant);
  border-radius: 1rem;
}

.svg-container {
  width: 80%;
  margin: 0 auto;
  svg {
    height: 30rem;
    width: 100%;
  }
}

.tick-icon-container {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  background: var(--blue);
  color: var(--gray200);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}
