@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --blue: #3668a9;
  --gray: #2a2b2c;
  --red: #a02c2d;
  --green: #37a892;

  --dark: black;
  --light: white;

  --gray100: #f7fafc;
  --gray200: #edf2f7;
  --gray300: #e2e8f0;
  --gray400: #cbd5e0;
  --gray500: #a0aec0;
  --gray600: #718096;
  --gray700: #4a5568;
  --gray800: #2d3748;
  --gray900: #1a202c;

  --dominant: var(--blue);
  --accent: var(--green);
  --error: var(--red);

  --background-main: var(--gray100);
  --background-alt: var(--gray900);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
