@media only screen and (max-width: 1000px) {
  .box-animation-container {
    display: none;
  }

  .layout-container {
    grid-template-columns: 1% 98% 1%;
  }

  .bannerBadge-container {
    display: none;
  }

  .bannerBadge-container {
    flex-direction: column;
  }

  .footer-container {
    width: 70%;
  }

  .item1__text {
    width: 70%;
  }

  .item1__image {
    width: 90%;
  }
  .item2__image {
    width: 90%;
  }

  .header-title {
    width: 10rem;
  }
  .item1__container {
    height: 100%;
    flex-direction: column;
    text-align: center;
  }
  .item2__container {
    height: 100%;
    flex-direction: column;
    text-align: center;
  }

  .item-break {
    margin: 5rem 0;
  }

  .item1__text h1 {
    width: 100%;
  }

  .svg-container svg {
    height: 20rem;
    width: 20rem;
  }

  .item3__wrapper {
    width: 90%;
  }

  .contact-banner-container {
    width: 80%;
    min-width: 20rem;
  }
}

@media only screen and (max-width: 750px) {
  .header-title {
    margin-left: 1rem;
  }

  .header-login {
    border: none;
    padding: 0;
  }

  .item3__container {
    height: 100%;
    flex-direction: column;
  }
  .item3__wrapper {
    width: 100%;
  }

  .item2__image {
    width: 70%;
  }

  .footer-container {
    width: 90%;
  }

  .item1__text {
    width: 90%;
  }

  .item-break {
    margin: 3rem 0;
  }
}
