@media only screen and (max-width: 1000px) {
  .box-animation-container {
    display: none;
  }

  .layout-container {
    grid-template-columns: 1% 98% 1%;
  }

  .bannerBadge-container {
    display: none;
  }

  .bannerBadge-container {
    flex-direction: column;
  }

  .footer-container {
    width: 70%;
  }

  .item1__text {
    width: 70%;
  }

  .item1__image {
    width: 90%;
  }
  .item2__image {
    width: 90%;
  }

  .header-title {
    width: 10rem;
  }
  .item1__container {
    height: 100%;
    flex-direction: column;
    text-align: center;
  }
  .item2__container {
    height: 100%;
    flex-direction: column;
    text-align: center;
  }

  .item-break {
    margin: 5rem 0;
  }

  .item1__text h1 {
    width: 100%;
  }

  .svg-container svg {
    height: 20rem;
    width: 20rem;
  }

  .item3__wrapper {
    width: 90%;
  }

  .contact-banner-container {
    width: 80%;
    min-width: 20rem;
  }
}

@media only screen and (max-width: 750px) {
  .header-container {
    padding: 0.5rem;
  }
  .header-title {
    margin-left: 1rem;
  }
  .header-login {
    border: none !important;
    padding: 0 !important;
  }
  .active-header {
    border: none !important;
  }

  .item3__container {
    height: 100%;
    flex-direction: column;
  }
  .item3__wrapper {
    width: 100%;
  }

  .item2__image {
    width: 70%;
  }

  .footer-container {
    width: 90%;
  }

  .item1__text {
    width: 90%;
  }

  .item-break {
    margin: 3rem 0;
  }

  .item3__text ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    padding: 0 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .header-container {
    padding: 0;
  }
  .nav-links {
    justify-content: flex-end;
  }

  .item1__container {
    padding: 3rem 0;
  }
  .item1__image {
    display: none;
  }
  .item1__text p {
    text-align: left;
  }
  .item2__image {
    display: none;
  }
  .item2__text {
    padding: 0;
    align-items: center;
  }
  .item2__text p {
    text-align: left;
  }

  .item3__text-title {
    width: 98%;
    text-align: center;
  }

  .footer-container {
    width: 97%;
  }
  .contact-banner-container {
    width: 100%;
    border-radius: 0;
  }
  .contact-banner-container input {
    padding-left: 1rem;
  }
}
